@font-face {
    font-family: 'SourceSansProLight';
    src: url('fonts/SourceSansProLight.eot');
    src: url('fonts/SourceSansProLight.eot') format('embedded-opentype'),
         url('fonts/SourceSansProLight.woff2') format('woff2'),
         url('fonts/SourceSansProLight.woff') format('woff'),
         url('fonts/SourceSansProLight.ttf') format('truetype'),
         url('fonts/SourceSansProLight.svg#SourceSansProLight') format('svg');
}
